Repository SORTEE-Github-Hackathon/manuscript, pull requests merged in 2022-12, with the labels that each got.

#293 Address issue #290 and issue #288
  content/03.use-cases-a.md
  content/04.use-cases-b.md
  content/05.use-cases-c.md
  editorial-communication/response-to-the-reviewers.Rmd
Labels: Reviewer Comment

#294 correct file name in Render step of the Rendering Editorial Communication Material workflow
  .github/workflows/editorial-comm-render-build-deploy.yaml
Labels: bug

#295 Addressing minor issues from R1 and R2
  .github/workflows/editorial-comm-render-build-deploy.yaml
  R/roles_table.Rmd
  content/02.introduction.md
  content/05.use-cases-c.md
  content/06.discussion-a.md
  content/11.roles_table.md
  editorial-communication/response-to-the-reviewers.Rmd
Labels: edits, Reviewer Comment

#296 Addressing R2.3 by adding a sentence with historical background on Git
  content/02.introduction.md
  editorial-communication/response-to-the-reviewers.Rmd
Labels: edits, Reviewer Comment

#300 Edits addressing E1.3
  content/06.discussion-a.md
Labels: Priority: high, Reviewer Comment

#301 Edits to address E1.5 comments
  content/02.introduction.md
  content/03.use-cases-a.md
  content/06.discussion-a.md
  content/07.conclusion.md
Labels: Priority: high, Reviewer Comment
